@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff);
}
@font-face {
  font-family: 'RobotoThin';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto/roboto_thin_macroman/Roboto-Thin-webfont.woff);
}
#page-wrapper
	padding 50px
h1.titulo
	font-family 'RobotoRegular'
	font-size 35px
h2.titulo
	font-family 'RobotoRegular'
	font-size 27px
	margin 0
.blue
	color #478FCA !important

.dataTables_wrapper
	background-color #EFF3F8
	padding 10px 0 10px 0
	.acciones
		color #119548
		font-size 24px
		line-height 20px
		text-align center
		width 60px
		a 
			color #101010
			cursor pointer
			text-decoration none
.dataTables_filter
	input[type="search"]
		width 300px
		min-height 40px
.dataTables_length
	select
		height 40px
.header
    line-height 28px
    margin-bottom 16px
    margin-top 18px
    padding-bottom 4px
    border-bottom 1px solid #CCC
.blue
   	border-bottom-color #4F718D
.lighter
	font-weight lighter
.table 
	thead
		tr 
			color #707070
			background-image -webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%)
			background-image -o-linear-gradient(top,#f8f8f8 0,#ececec 100%)
			background-image linear-gradient(to bottom,#f8f8f8 0,#ececec 100%)
			background-repeat repeat-x
			filter 'progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#fff8f8f8', EndColorstr='#ffececec')'
.table-header
	background-color #307ECC
	color #FFF
	font-size 14px
	line-height 38px
	padding-left 12px
	margin-bottom 1px

.panel-body
	text-align center
.panel-personal
	border-color #01579B
	box-shadow 0px 9px 9px rgba(0, 0, 0, 0.15)
	.panel-heading
		background-color #01579B
		border-color #01579B
		color #fafafa
	.acceso
		background-color #0277BD
		border 1px #0277BD solid
		border-radius 17px
		color #fafafa
		cursor pointer
		display: inline-block
		text-align center
		margin 20px
		padding 18px 10px 0px 10px
		width 100px
		height 100px
		-webkit-transition all 0.2s
		-ms-transition all 0.2s
		-moz-transition all 0.2s
		transition all 0.2s
		&:hover
			background-color #0091EA
			-webkit-box-transform:scale(1.05) 
			-moz-box-transform:scale(1.05)
			-ms-transform:scale(1.05)  
			transform:scale(1.05) 
		.fa
			font-size 24px
	.datos
		border 1px #0277BD solid
		border-radius 17px
		color black
		cursor pointer
		display: inline-block
		text-align center
		margin 20px
		padding 25px 10px 0px 10px
		width 100px
		height 100px
		-webkit-transition all 0.2s
		-ms-transition all 0.2s
		-moz-transition all 0.2s
		transition all 0.2s
		&:hover
			background-color #0277BD
			color #fafafa
			-webkit-box-transform scale(1.05) 
			-moz-box-transform scale(1.05)
			-ms-transform scale(1.05)  
			transform scale(1.05)
.notificacion
	
	text-align center
	font-family 'RobotoRegular'
	padding 1em
	&.even
		background #ececec
	.day,.month
		vertical-align top
		display inline-block
	.day 
		margin 0px 10px 0px 10px
		font-size 60px
	.month
		font-size 20px
	.details
		text-align justify
	.fecha
		color #FFF
		border-radius 6px
		overflow hidden
		width 65px
		font-size 18px
		margin 0 auto
		div
			height 42px
			text-align center
			line-height 24px
			padding-top 8px
		.dia
			background #0091EA
		.mes
			background #6c7074
.alert-notificacion
	background rgba(51,51,51,.9)
	box-shadow 0 0 5px rgba(51,51,51,.5)
	color #fff
	button.close
		float right
		font-size 21px;
		font-weight bold
		line-height 1
		color #fafafa !important
		opacity .5
		&:hover
			opacity .5
			
.js_detallesNoti
	cursor pointer
	
		
			