@font-face {
    font-family: "titulo";
    src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: "helvetic";
    src: url(../fonts/HelveticaNeue-Light.otf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'futura_md_btbold';
    src: url('../../fonts/tt0144m_-webfont.eot');
    src: url('../../fonts/tt0144m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tt0144m_-webfont.woff') format('woff'),
         url('../../fonts/tt0144m_-webfont.ttf') format('truetype'),
         url('../../fonts/tt0144m_-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
nav{
	margin-bottom: 0px !important;
}
body{
	background-color: white !important;
	position: relative;
	height: 100%

}
.contenedor{
	background-color: #7fb6e3 !important;
	width: 100%;
}
.container-promocion{
	padding-top: 20px;
    height: auto !important;
    padding-right: 20px;
    margin-top: 40px;
}
footer{
	height: 110px;
    padding-left: 30px;
    padding-top: 15px;
	position: fixed;
	bottom: 0px;
	background-color: black;
	width: 100%;
	font-family: 'helvetic';
	margin-bottom: 0px !important;
}



.header{ 
	width: 100%;
	top:0;
	padding: 0px 0px 0px 0px;	
	margin-bottom: 0px !important;
	background: rgb(231, 231, 3) none repeat scroll 0 0;
}
.label-menu{
	color: black !important;
    display: block;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.active{
	 background-color: black !important;
}
.active_menu{
     background-color: rgb(250, 254, 70) !important;
}

ul.nav > li:hover{
	 background-color: rgb(250, 254, 70) !important;
}
#cuadro-negro1{
	background-color: black;
	height: 20px;
	width: 7%;
	display: inline-block;
}
#negro {
    position: fixed;
   width: 91px; padding: 0px;
    left: 0px;
}

.panel.panel-horizontal {
    display:table;
    width:100%;
    border:none !important;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}
.promociones-precio {
    color: #ff21d3 !important;
    font-family: "futura_md_btbold",sans-serif !important;
    font-size: 22px !important;
    margin: -9px 0 !important;
    padding-bottom: 10px;
}
.panel-heading{
	padding: 0 0 0 0;
}
.texto-gris {
    color: #999;
    font-family: "futura_md_btmedium",sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.titulo-promocion{
	font-weight: bold;
}

.carousel {
    margin-bottom: 0;

}
/* The controlsy */

.carousel-control.right {

}
/* The indicators */
.carousel-indicators {
    right: 40%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
#eventos-container {
    color: white;
    display: inline-block;
    height: auto;
    margin: 0 0 0 60px;
    overflow-x: auto;
    position: relative;
    vertical-align: middle;
}
#eventos-container h2 {
    font-family: "futura_md_btbold",sans-serif;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 10px;
    line-height: 40px;
}
#eventos-container #subtitulos {
    display: block;
    font-family: "futura_md_btmedium",sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-indent: 20px;
}
.detalle-evento {
    font-family: "futura_md_btmedium",sans-serif;
    letter-spacing: -2px;
    margin-bottom: 0;
    margin-top: 20px;
    color: white;
    line-height: 30px;
}
.info > span{
	color: rgb(254, 192, 9);
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 23px;
    line-height: 30px;
}
.info >p {
	font-family: "futura_md_btbold",sans-serif;
	color: white;
	font-size: 14px;
	margin-bottom: 0px;
	line-height: 30px;
	height: 20px;

}
.info >a {
	font-family: "futura_md_btbold",sans-serif;
	color: white;
	font-size: 14px;

}
.color_letra{
	font-family: "futura_md_btbold",sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 15px;
    margin-bottom: 10px;
    color: white;
}
textarea{
	resize:none;
}
.div-like{
  margin-top: 20px;
}
.ul-margen{
padding-left: 150px
}
@media (max-width: 778px) {
	 .event .rsvp i {
        font-size:35px !important;
    }
    .info >p {
	margin-bottom: 25px;

	}
	.ul-margen{
	padding-left: 0px;
	}
 }
 @media (max-width: 886px) {
 	.img-slider{
	height: 600px !important;
	} 
	#negro {
    width: 70px !important;
	}
 }
 @media (max-width: 620px) {
	.img-slider{
	height: 600px !important;
	} 
	.titulo-promocion{
		font-size: 16px !important;
	}
    footer{
        height: 60px !important;
    }
	.texto-gris,.promociones-precio {
		font-size: 14px !important;
	}
	#eventos-container h2 {
    font-size: 22px;
	}
	#eventos-container {
    margin-left:25px !important;
	}
	#mapa-direccion{
		width: 400px !important;
	}
  .detalle-evento{
    font-size: 25px;
  }
  .info > p {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 12px;
  }
  .rsvp{
    margin-right: 10px;
  }
	
 }
  @media (max-width: 400px) {
	.img-slider{
	height: 400px !important;
	} 
	#mapa-direccion{
		width: 300px !important;
	}
 }
.panel{
    background-color: transparent !important;
    border: 1px solid transparent !important; 
}
.event .panel-body {
  padding:0;
  margin:0;
  height:86px;
}
.event .panel-body > div {
  padding: 0 10px;
}
.event .panel-body .rsvp {
  border-left: none;
  padding: 0;
  text-align: center;
  position: relative;
  color: white;
  height: 100%;
}

.event .rsvp > div {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  background: #42A5F5;
  width: 100%;
}

.event .rsvp i {
  font-size: 2em;
  display: block;
  position:relative;
  top:17%;
  margin-bottom:5px;
}
.event .rsvp i:last-of-type{
    font-size:1.5em;
    margin-top:-23px;
}

.event .rsvp span {
  cursor: pointer;
  padding: 0 5px;
  margin: 5px 0;
  width:45%;
}
.event .rsvp span:first-of-type{
  border-right: 1px solid white;
}
.event .rsvp span:hover{
  color: #1565C0;
}

.event .info{
  font-size: 28px;
}

.event .info > div, .event .info > ul{
  font-size: 12px;
}



/* Overwrites */
.nav-tabs a {
  background: #90CAF9;
  color: white;
}
.info .nav-tabs li.active a {
  background-color: #448AFF;
  color: white;
}
.info .nav-tabs li:hover a, .info .nav-tabs li.active:hover a {
  background: #00BCD4;
  color: white;
}
.tab-content {
  background: white;
  border-radius: 0 10px;
  padding: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .event .panel-body {
        height:158px;
    }
    
    .event .rsvp {
        min-height:100%;
    }
    
    .event .rsvp i {
        font-size:4em;
        top:5%;
    }
    
    .event .panel-body .author {
      position: relative;
      color: #2196F3;
      padding:10px;
      height:100%;
    }
    .event .profile {
      position: relative;
      z-index: 0;
      border-left: 2px solid white;
      top: -5px;
      padding-left: 55px;
      height: 100%;
      left: 10%;
    }
    .event .profile strong {
      display: block;
      color: white;
      font:20px bold 'Fredoka One', serif;
      -webkit-text-stroke-width: .6px;
      -webkit-text-stroke-color: #448AFF;
      margin-bottom: 5px;
    }
    .event .author .profile i {
      color:  #448AFF;
      padding-left: 0;
    }
    .event .profile .links {
      position: absolute;
      bottom: 0;
    }
    .event .profile article {
        padding:0 41px 0 0;
    }
    .event .author .profile i:hover{
      color:  #00BCD4;
    }
    .event .author .profile-image {
      position: absolute;
      background: white;
      padding: 3px;
      width: 30%;
      border-radius: 50%;
      border: 1px solid #CCC;
      box-sizing: content-box;
      z-index: 1;
      top:13px;
    }
    .event .author img {
      width: 100%;
      border-radius: 50%;
    }
}
