@font-face {
    font-family: "titulo";
    src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: "helvetic";
    src: url(../fonts/HelveticaNeue-Light.otf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
nav{
	margin-bottom: 0px !important;
}
body{
	background-color: white !important;
	position: relative;
	height: 100%

}
.contenedor{
	background-color: #7fb6e3 !important;
	width: 100%;
}
.container-promocion{
	padding-top: 40px;
	padding-left: 40px;
    height: auto !important;
    padding-right: 40px;
}
footer{
	height: 80px;
	position: fixed;
	bottom: 0px;
	background-color: #333333;
	width: 100%;
	font-family: 'helvetic';
	margin-bottom: 0px !important;
}



.header{ 
	width: 100%;
	top:0;
	position: relative;
	padding: 0px 0px 0px 0px;	
	margin-bottom: 0px !important;
	background: rgb(231, 231, 3) none repeat scroll 0 0;
}
.label-menu{
	color: black !important;
    display: block;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.active{
	 background-color: rgb(250, 254, 70) !important;
}

ul.nav > li:hover{
	 background-color: rgb(250, 254, 70) !important;
}
#cuadro-negro1{
	background-color: black;
	height: 20px;
	width: 7%;
	display: inline-block;
}


@media (max-width: 1200px) {
 }
@media (max-width: 986px) {
 }
@media (max-width: 778px) {
 }
 @media (max-width: 886px) {
 	.img-slider{
	height: 600px !important;
	} 
 }
 @media (max-width: 620px) {
	.img-slider{
	height: 600px !important;
	} 
 }
  @media (max-width: 400px) {
	.img-slider{
	height: 400px !important;
	} 
 }


